
img#logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 25px;
    margin-right: 20px;
    float: left;
}

img#name {
    width: 10%;
    height: 10%;
    float: left;
    margin-top: 17px;
}

#optionbar {
    width: 850px;
    height: 50px;
    float: left;
    margin-left: 30px;
    margin-top: 40px;
    border: 2px solid #4B2B31;
    background-color: #4B2B31;
    position: sticky;
}

.options {
    width: 210.5px;
    height: 31px;
    float:left;
    text-align: center;
    vertical-align: middle;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 17px;
    border: 1px solid #B3534D;
    background-color: #B3534D;
    opacity: 25%;
    transition: 0.8s ease;
    position: sticky;
    object-fit: cover;
}

.options:hover {
    opacity: 50%;
    border-radius: 10%;
    background-color: #a5605c;
}

html {
    background-color: #233342;
    background-image: url('../images/bg2.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

a {
    color: #201814;
    text-decoration: none;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width: 1150px;
}

/* homepage specific */

.quote {
    text-align: center;
    padding-top: 70px;
    clear: both;
    font-family: monospace;
    color: #201814;
    opacity: 70%;
}

.gamedesc {
    clear: left;
    width: 550px;
    height: 300px;
    margin-top: 48px;
    margin-left: 30px;
    font-size: 140%;
    color: #8d5f51;
    text-align: justify;
    position: fixed;
}

.gameimg {
    float: right;
    width: 500px;
    height: 100px;
    margin-top: 55px;
    margin-right: 30px;
}

#reviewhead {
    clear: both;
    text-align: center;
    margin-top: 40px;
    margin-left: 190px;
    font-size: 120%;
    color: #201814;
}

#reviews {
    clear: both;
    margin-left: 620px;
    width: 500px;
}

img.reviewicon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin-top: -10px;
}

.reviewname {
    float: left;
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 110%;
}

.reviewname:hover {
    text-decoration: underline;
}

.reviewtext {
    float: left;
    margin-left: 10px;
    width: 400px;
    background-color: #653538;
    border-color: 2px solid #45252c;
    padding: 8px;
}

/* download page!! */

.downloadheader {
    text-align: center;
    padding-top: 30px;
    clear: both;
    color: #201814;
}

.downloadbutton {
    margin: auto;
    height: 50px;
    width: 250px;
    background-color: #653538;
    border-radius: 10%;
    transition: 0.8s ease;
    text-align: center;
    line-height: 50px;
    color: #201814;
}

.downloadbutton:hover {
    transform: scale(1.1);
    background-color: #8f454a;
}

.⌰⍜☌ {
    clear: both;
    margin: auto;
    text-align: center;
    height: 20px;
    width: 50px;
    margin-top: 5px;
}